{{ $folder := .Get "folder" }}

{{ $images := (.Page.Resources.Match (print $folder "*") ) }}

<div>
    {{ range $original := $images }}
    {{ $image := $original.Fit "300x200" }}

    <a href="{{ $original.RelPermalink }}">
        <img src="{{ $image.RelPermalink }}" loading="lazy" />
    </a>
    {{ end }}
</div>